{
  "compilerOptions": {
    "declaration": true,
    "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
    "module": "commonjs",
    "noImplicitAny": true,
    "outDir": "dist",
    "rootDir": ".",
    {{^supportsES6}}
    "lib": [
      "es6",
      "dom"
    ],
    {{/supportsES6}}
    "typeRoots": [
      "node_modules/@types"
    ]
  },
  "exclude": [
    "dist",
    "node_modules"
  ]
}