import * as url from "url";
import { AxiosRequestConfig, AxiosResponse } from "axios"
import { crudApi } from "./httpClient"

/**
 * Strictly typed API Client Factories
 */

{{#apiInfo}}
{{#apis}}
{{#operations}}

export class {{classname}} {
    private config: Omit<AxiosRequestConfig, "method"> = {}

    constructor(config?: Omit<AxiosRequestConfig, "method">) {
        this.config = config || {}
    }

    {{#operation}}
    public async {{nickname}}({{#hasParams}}params: { {{#allParams}} {{paramName}}{{^required}}?{{/required}}: {{{dataType}}}; {{/allParams}}}{{/hasParams}}): Promise<AxiosResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}any{{/returnType}}>> {
        {{#hasParams}}let data = {} // eslint-disable-line{{/hasParams}}{{^hasParams}}// request has no params{{/hasParams}}
        const baseUrl = `{{path}}`{{#pathParams}}
            .replace("{ {{baseName}} }".replace(/[ .*]/g, ""), `${params.{{paramName}}}`){{/pathParams}};
        const urlObj = url.parse(baseUrl, true);
    {{#hasQueryParams}}
        // query params
        urlObj.query = Object.assign({}, urlObj.query, { {{#queryParams}}
                "{{baseName}}": params.{{paramName}},{{/queryParams}}
            });
    {{/hasQueryParams}}
    {{#hasFormParams}}
        // form params
        this.config = {
            ...this.config,
            headers: {
                ...this.config.headers,
                "Content-Type": "application/x-www-form-urlencoded"
            }
        };
        data = querystring.stringify({ {{#formParams}}
            "{{baseName}}": params.{{paramName}},{{/formParams}}
        });
    {{/hasFormParams}}
    {{#hasBodyParam}}
        // body params
        this.config = {
            ...this.config,
            headers: {
                ...this.config.headers,
                "Content-Type": "application/json"
            }
        };
        {{#bodyParam}}if (params["{{paramName}}"]) {
            data = JSON.stringify(params["{{paramName}}"] || {});
        }{{/bodyParam}}
    {{/hasBodyParam}}
    {{#hasHeaderParams}}
        // header params
        this.config = {
            ...this.config,
            headers: {
                ...this.config.headers,
                {{#headerParams}}
                "{{baseName}}": params.{{paramName}},
                {{/headerParams}}
            }
        };
    {{/hasHeaderParams}}
        return await crudApi({ method: "{{httpMethod}}", url: url.format(urlObj),{{#hasParams}} data,{{/hasParams}} ...this.config })
    }
    {{/operation}}
}

{{/operations}}
{{/apis}}
{{/apiInfo}}

/**
 * Types
 */

{{#models}}
{{#model}}
{{#description}}
{{/description}}
{{#isEnum}}
enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}
{{/isEnum}}
{{^isEnum}}
interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
{{#description}}
{{/description}}
    "{{name}}"{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}
}

{{/isEnum}}

{{/model}}
{{/models}}